* {
background-image: none;
box-shadow: none;
}

window {
	background-color: rgba(17, 17, 27, 1); /* Main background color with semi-transparency */
}

button {
	border-radius: 25px;
	border-color: rgba(188, 123, 231, 1); /* Purple border */
	text-decoration-color: #FFFFFF;
	color: #FFFFFF;
	background-color: rgba(33, 33, 52, 0.8); /* Darker blue-purple base */
	border-style: solid;
	border-width: 2px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	transition: background-color 0.3s, border-color 0.3s; /* Smooth hover effect */
}

button:focus,
button:active,
button:hover {
	background-color: rgba(115, 95, 181, 0.8); /* Softer purple on hover */
	border-color: rgba(255, 133, 199, 1); /* Pink border for hover/active states */
	outline-style: none;
}

#lock {
background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
